<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Thông tin</span></h2>
    </div>
<div class="row px-xl-5">
    <div class="col-lg-4 offset-lg-4 mb-2">
        <div class="contact-form">
            <form action="/user/update/<%= data.id_thanhvien %>" method="POST">
                <div class="control-group">
                    <label >Họ và tên</label>
                    <input name="name" required type="text" class="form-control" value="<%= data.name %>"/>
                </div>
                <div class="control-group mt-2">
                    <label >Địa chỉ</label>
                    <input name="address" required type="text" class="form-control" value="<%= data.address %>"/>
                </div>
                <div class="control-group  mt-2">
                    <label>Số điện thoại</label>
                    <input name="sdt" required type="text" class="form-control" value="<%= data.sdt %>"/>
                </div>
                <div class="control-group  mt-2">
                    <label>Giới tính</label>
                    <select class="form-control" id="sel1" required name="sex">
                        <option value="1" <%= (data.gioi_tinh == 1) ? 'selected' : '' %>>Nam</option>
                        <option value="0" <%= (data.gioi_tinh == 0) ? 'selected' : '' %>>Nữ</option>
                        <option value="2" <%= (data.gioi_tinh == 2) ? 'selected' : '' %>>Khác</option>
                    </select>
                </div>
                <div>
                    <button class="btn btn-primary py-2 px-4 mt-2" type="submit">
                        Lưu thông tin</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>