<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); -%>
    <style>
        .img-product{
            width: 100%;
            height: 230px;
            overflow: hidden;
            text-align: center;
        }
        .img-product img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .img-detail{
            width: 100%;
            height: 370px;
            overflow: hidden;
            text-align: center;
        }
        .img-detail img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        @media (min-width: 1025px) {
            .h-custom {
            height: 100vh !important;
            }
        }
    </style>
</head>

<body>
    <!-- Topbar Start -->
    <%- include('../partials/header'); -%>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid mb-5">
        <div class="row border-top px-xl-5">
            <% if (locals.dataLocal) { %>
                <%- include('../partials/categorybar',{data : dataLocal}); -%>
              <% }
            %>
            <div class="col-lg-9">
                <%- include('../partials/navbar'); -%>
                <% if (page_layout == '/') { %>
                    <%- include('../partials/slider'); -%>
                  <% }
                %>
            </div>
        </div>
    </div>
    <!-- Navbar End -->
    <!-- Content -->
    <% switch (page_layout) {
        case '/' : %>
            <%- include('./home',{data : products}); -%>
            <% break;
        case 'detail-product' : %>
        <% if (dataDetail || comments) { %>
        <%- include('./product-detail',{data : dataDetail,data1 : comments,data2:count}); -%>
        <% } %>
            <% break;
        case 'products' : %>
        <% if (danhmucsp && sanpham) { %>
            <%- include('./products',{data1 : danhmucsp,data2 : sanpham}); -%>
            <% } %>
            <% break;
        case 'search' : %>
            <%- include('./search',{data : sanpham}); -%>
            <% break;
        default:
            break;
        } %>

    <!-- Footer Start -->
    <%- include('../partials/footer'); -%>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="/mail/jqBootstrapValidation.min.js"></script>
    <script src="/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="/js/main.js"></script>
    <script>
      const [...listStar] = document.querySelectorAll('.star-review');
      const value_star = document.querySelector('#value_star');
      //on click star setAtribute class fas fa-star for it and when two click remove class far fa-star for other star
      let count = 0;  
      //how to get count star fas fa-star
        listStar.forEach(star => {
            star.addEventListener('click', function() {
            if (star.classList.contains('fas')) {
                star.classList.remove('fas');
                star.classList.add('far');
                count--;
            } else {
                star.classList.remove('far');
                star.classList.add('fas');
                count++;
            }
            value_star.value = count;
            });
        });
    </script>
</body>

</html>