    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Chi tiết sản phẩm</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">detail</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->
      <% if (data) { %>
        <div class="container-fluid py-5">
            <div class="row px-xl-5">
                <div class="col-lg-5 pb-5">
                    <div id="product-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner border">
                            <div class="carousel-item active img-d img-detail" >
                                <img class="w-100 h-100" src="/<%=data.anh_sp %>" alt="Image">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                            <i class="fa fa-2x fa-angle-left text-dark"></i>
                        </a>
                        <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                            <i class="fa fa-2x fa-angle-right text-dark"></i>
                        </a>
                    </div>
                </div>
    
                <div class="col-lg-7 pb-5">
                    <h3 class="font-weight-semi-bold"><%=data.ten_sp %></h3>
                    <div class="d-flex mb-3">
                        <div class="text-primary mr-2">
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star-half-alt"></small>
                            <small class="far fa-star"></small>
                        </div>
                        <small class="pt-1">(50 Reviews)</small>
                    </div>
                    <h3 class="font-weight-semi-bold mb-4"><%=new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(Number(data.gia_sp))%></h3>
                    <p class="mb-4"><%=data.chi_tiet_sp %></p>
                    <div class="d-flex align-items-center mb-4 pt-2">
                        <div class="input-group quantity mr-3" style="width: 130px;">
                            <div class="input-group-btn">
                                <button class="btn btn-primary btn-minus" >
                                <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <input type="text" class="form-control bg-secondary text-center" value="1">
                            <div class="input-group-btn">
                                <button class="btn btn-primary btn-plus">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <a  href="/cart/add/<%=data.id_sp %>" class="btn btn-primary px-3"><i class="fa fa-shopping-cart mr-1"></i> Thêm vào giỏ hàng</a>
                    </div>
                    <div class="d-flex pt-2">
                        <p class="text-dark font-weight-medium mb-0 mr-2">Share on:</p>
                        <div class="d-inline-flex">
                            <a class="text-dark px-2" href="">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="text-dark px-2" href="">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="text-dark px-2" href="">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                            <a class="text-dark px-2" href="">
                                <i class="fab fa-pinterest"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row px-xl-5">
                <div class="col">
                    <div class="nav nav-tabs justify-content-center border-secondary mb-4">
                        <a class="nav-item nav-link active" data-toggle="tab" href="#tab-pane-1">Chi tiết sản phẩm</a>
                        <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-2">Đánh giá</a>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab-pane-1">
                            <h4 class="mb-3">Product Description</h4>
                            <p>Eos no lorem eirmod diam diam, eos elitr et gubergren diam sea. Consetetur vero aliquyam invidunt duo dolores et duo sit. Vero diam ea vero et dolore rebum, dolor rebum eirmod consetetur invidunt sed sed et, lorem duo et eos elitr, sadipscing kasd ipsum rebum diam. Dolore diam stet rebum sed tempor kasd eirmod. Takimata kasd ipsum accusam sadipscing, eos dolores sit no ut diam consetetur duo justo est, sit sanctus diam tempor aliquyam eirmod nonumy rebum dolor accusam, ipsum kasd eos consetetur at sit rebum, diam kasd invidunt tempor lorem, ipsum lorem elitr sanctus eirmod takimata dolor ea invidunt.</p>
                            <p>Dolore magna est eirmod sanctus dolor, amet diam et eirmod et ipsum. Amet dolore tempor consetetur sed lorem dolor sit lorem tempor. Gubergren amet amet labore sadipscing clita clita diam clita. Sea amet et sed ipsum lorem elitr et, amet et labore voluptua sit rebum. Ea erat sed et diam takimata sed justo. Magna takimata justo et amet magna et.</p>
                        </div>
                        <div class="tab-pane fade" id="tab-pane-2">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4 class="mb-4"><%= data2 %> bình luận cho "<%= data.ten_sp %>"</h4>
                                    <% data1.forEach(function(comment) { %>
                                        <div class="media mb-4">
                                            <div class="media-body">
                                                <h6><%= comment.ten %><small> - <i><%= moment(comment.ngay_gio).format('DD-MM,YYYY')  %></i></small></h6>
                                                <div class="text-primary mb-2">
                                                    <% if (comment.star < 5) { %>
                                                        <% for (var i = 0; i < comment.star; i++) { %>
                                                            <i class="fas fa-star"></i>
                                                        <% } %>
                                                        <% for (var i = 0; i < 5 - comment.star; i++) { %>
                                                            <i class="far fa-star"></i>
                                                        <% } %>
                                                    <% } else { %>
                                                        <% for (var i = 0; i < 5; i++) { %>
                                                            <i class="fas fa-star"></i>
                                                        <% } %>
                                                     <% } %>
                                                </div>
                                                <p><%= comment.binh_luan %></p>
                                            </div>
                                        </div>
                                     <% }); %> 
                                     
                                </div>
                                <div class="col-md-6">
                                    <h4 class="mb-4">Để lại một đánh giá</h4>
                                    <div class="d-flex my-3">
                                        <p class="mb-0 mr-2">Đánh giá của bạn * :</p>
                                        <div class="text-primary star-reviews">
                                            <i class="far fa-star star-review"></i>
                                            <i class="far fa-star star-review"></i>
                                            <i class="far fa-star star-review"></i>
                                            <i class="far fa-star star-review"></i>
                                            <i class="far fa-star star-review"></i>
                                        </div>
                                    </div>
                                    <form action="/comment/<%= data.id_sp %>" method="POST">
                                        <div class="form-group">
                                            <label for="name">Tên của bạn</label>
                                            <input type="text" class="form-control" name="name" id="name">
                                        </div>
                                        <input name="star" id="value_star" type="number" hidden>
                                        <div class="form-group">
                                            <label for="sdt">Số điện thoại</label>
                                            <input type="text" class="form-control" name="sdt" id="sdt">
                                        </div>
                                        <div class="form-group">
                                            <label for="message">Nội dung bình luận</label>
                                            <textarea name="message" id="message" cols="30" rows="5" class="form-control"></textarea>
                                        </div>
                                        <div class="form-group mb-0">
                                            <button type="submit" class="btn btn-primary px-3" >Gửi</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     <% } else { %>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">No Product Found</h4>
                        <p class="card-text">Sorry, no product found.</p>
                    </div>
                </div>
            </div>
        </div>
     <% } %>
    
  
    <!-- Shop Detail Start -->
  
    <!-- Shop Detail End -->