<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Thông tin</span></h2>
    </div>
    <div class="row px-xl-5">
        <div class="col-lg-4 offset-lg-4 mb-2">
            <div class="contact-form">
                <form action="/user/edit/<%= data.id_thanhvien %>" method="POST">
                    <div class="control-group">
                        <label >Họ và tên</label>
                        <input type="text" class="form-control" id="name" disabled value="<%= data.name %>"/>
                    </div>
                    <div class="control-group mt-2">
                        <label >Địa chỉ</label>
                        <input type="text" class="form-control" id="name" disabled value="<%= data.address %>"/>
                    </div>
                    <div class="control-group  mt-2">
                        <label >Số điện thoại</label>
                        <input type="text" class="form-control" id="name" disabled value="<%= data.sdt %>"/>
                    </div>
                    <div class="control-group  mt-2">
                        <label >Email</label>
                        <input type="text" class="form-control" id="name" disabled value="<%= data.email %>"/>
                    </div>
                    <div class="control-group  mt-2">
                        <label >Giới tính</label>
                        <input type="text" class="form-control" id="name" disabled value="<%= (data.gioi_tinh == 1) ? 'Nam' : 'Nữ' %>"/>
                    </div>
                    <div>
                        <button class="btn btn-primary py-2 px-4 mt-2" type="submit" id="sendMessageButton">
                            Sửa thông tin</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>