<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>nodejs_demo</title>
</head>
<body>
    <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="#news">News</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#about">About</a></li>
      </ul>
        <table id="customers">
            <tr>
                <th>id</th>
              <th>First name</th>
              <th>Last name</th>
              <th>Age</th>
            </tr>
            <% for(let i=0; i < dataUser.length; i++) { %>
                <tr>
                  <td><%= dataUser[i].id %></td>
                  <td><%= dataUser[i].first_name %></td>
                  <td><%= dataUser[i].last_name %></td>
                  <td><%= dataUser[i].age %></td>
                  <td width="200">
                    <a href="/detail/user/<%= dataUser[i].id %>" target="_blank">Detail</a>
                    <form action="/edit/getuser/<%= dataUser[i].id %>" method="GET">
                      <button type="submit" value="Edit">Edit</button>
                     </form>
                   <form action="/delete/user/<%= dataUser[i].id %>" method="POST">
                     <button type="submit" value="Delete">Delete</button>
                    </form>
                  </td>
                </tr>
             <% } %>
          </table>
          <div>
            <form action="/create-new-user" method="POST">
              <div>
                <label for="fname">First Name</label>
              <input  type="text" id="fname" name="first_name" placeholder="Your name..">
              </div>
              <div>
                <label for="lname">Last Name</label>
              <input  type="text" id="fname" name="last_name" placeholder="Your name..">
              </div>
              <div>
                <label for="email">Email</label>
              <input type="text" id="email" name="email" placeholder="Your email..">
              </div>
              <div>
                <label for="age">Age</label>
              <input type="text" id="age" name="age" placeholder="Your Age..">
              </div>
              <button type="submit">Submit</button>
            </form>
          </div>
</body>
</html>